body {
    background-color: rgba(0,0,0, 0.9)
}

.post{
    max-height: auto;
}

.own{
    text-align: right;
}

input[type="text"], #output {
    border: 1px solid green; 
    color: green;
    width: 89%; 
    height: auto; 
    background-color: black;
}

input[type="text"]{
    height: 5%; 
    margin-top: 10px;
}

input[type="submit"]{
    background-color: black; 
    color: green; 
    border: 1px solid green; 
    height: 5%;
    width: 10%;
}

#output {
    width: 100%;
    height: 90%;
    overflow: auto;
}